<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
<body>
    <div class="main-content">
        {{> header}}
        <p>This apps has text</p>
        <img class="portrait" src="/img/robot.png">
    </div>
    {{>footer}}
</body>
</html>