<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
<body>
    <div class="main-content">
        {{> header}}
        <p>una frase larga</p>
        <form>
            <input placeholder="Location">
            <button>search</button>
        </form>
        <p id="message-one"></p>
        <p id="message-two"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>